---
import MainLayout from '@layouts/MainLayout.astro'
import Container from '@components/Container.astro'
---

<MainLayout pageTitle="Design.Liferay | Page not found">
	<Container>
		<h1 style="color:var(--c-white)">Page not found</h1>
		<p style="color:var(--c-main-l4)">
			The page you're looking for doesn't exist. <a href="/" style="color:var(--c-primary-l1);text-decoration:underline">Back home</a>.
		</p>
	</Container>
</MainLayout>
