---
// Port of organisms/Navbar
import Container from './Container.astro'
import SiteName from './SiteName.astro'
import NavItems from './NavItems.astro'
interface Props {
	section?: string
	underlineColor?: string
}
const { section, underlineColor } = Astro.props
---

<Container>
	<nav class="navbar">
		<SiteName section={section} underlineColor={underlineColor} />
		<NavItems section={section} />
	</nav>
</Container>

<style>
	.navbar {
		font-family: var(--font-body);
		font-weight: var(--fw-heavy);
		align-items: baseline;
		display: flex;
		justify-content: space-between;
		z-index: 1000;
		position: relative;
	}
	.navbar :global(a) {
		text-decoration: none;
		font-weight: var(--fw-heavy);
	}
</style>
