---
const { src } = Astro.props
---
<div style="position:relative;width:100%;padding-bottom:56.25%;margin:2rem 0 3rem">
	<iframe src={src} title="Embedded content" frameborder="0" allowfullscreen
		style="position:absolute;inset:0;width:100%;height:100%"></iframe>
</div>
